.centrar {

    display: flex;
    justify-content: center;
}

.bgcolor {
    background-color: rgba(76, 175, 80, .4);
}
.bgcolor2 {
    background-color: rgba(22, 22, 20, 0.4);
    

}


h5 {
   color: black;
}
body {
    background-color: rgb(252, 251, 253);
}

.marginB {
    margin-bottom: 5%;
}


 @media(max-width:2200px) { 
    .wit {
        width: 400px;
    }  
 }
/* 
 .cardS {
    min-width: 120px;
 } */

 /* @media(min-width:300px) {
    .wit2 {
    height: 5000px;
    width: 900px;
    }
 } */